.text {
  display: inline-block;
  font-size: 8vw;
  color: #CCCCCC;
}

.cursor {
  height: .125em;
  width: 6vw;
  background-color: #CCCCCC;
  transform: translateY(90%);
  display: inline-block;
}
