<main>

  <menutoggle-dir></menutoggle-dir>

  <header class="top-section parallax1">
    <div class="inner-filler">
      <h3>Donovan Hiland is</h3>
      <div class="text"></div>
    </div>
  </header>

  <section class="content-container">
    <div class="content">
      <h3>About Me</h3>
    </div>
  </section>

  <section class="parallax2">
    <div class="inner-filler">
    </div>
  </section>

  <section class="content-container">
    <div class="content">
      <h3>Portfolio</h3>
    </div>
  </section>

  <section class="parallax3">
    <div class="inner-filler">
    </div>
  </section>

  <footer class="contact-footer">
    <div>
      <h3>Contact</h3>
    </div>
  </footer>

c<script src="js/animations/jquery.js" charset="utf-8"></script>
</main>
