<main>

  <menutoggle-dir></menutoggle-dir>

  <header class="top-section parallax1">
    <div class="inner-filler">
      <h3>Donovan Hiland is</h3>
      <typing-dir></typing-dir>
    </div>
  </header>

  <section class="content-container">
    <h3 class="main-page-title">About Me</h3>
    <div class="content">
      <p>waka waka waka waka blah blah blah blah</p>
      <!-- add some sort of tile feature that fills the section. each tile is a picture of some aspect of my life. on click the other tiles disappear and the clicked on tile fills the section. another click minimizes the tile and displays the other tiles -->
    </div>
  </section>

  <section class="parallax2">
    <div class="inner-filler">
    </div>
  </section>

  <section class="content-container">
    <h3 class="main-page-title">Portfolio</h3>
    <div class="content">
      <div class="main-page-portfolio">
        <div ui-sref="snake" class="portfolio-piece" id="snakeproject">
          <div class="info">
            <p>jQuery Snake</p>
          </div>
        </div>
        <div id="comingsoon">
        <p>More Coming Soon!</p>
        </div>
        <div class="portfolio-piece" id="azfmcproject">
          <div class="info">
            <p>AZFMC</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="parallax3">
    <div class="inner-filler">
    </div>
  </section>

  <footer class="contact-footer">
    <div>
      <h3>Connect with Me</h3>
      <div class="main-social-links-container">
        <a href="https://github.com/donovanhiland" target="_blank" class="main-social-link" id="githubicon"></a>
        <a href="https://www.linkedin.com/in/donovan-hiland-589969bb" target="_blank" class="main-social-link" id="linkedinicon"></a>
        <a href="https://www.facebook.com/donovan.hiland" target="_blank" class="main-social-link" id="facebookicon"></a>
        <a href="mailto:donovan.hiland@gmail.com" class="main-social-link" id="emailicon"></a>
      </div>
    </div>
    <span>Copyright (c) 2016 Donovan Hiland All Rights Reserved.</span>
  </footer>

</main>
