html {
  width: 100%;
  height: 100%;
}

h3 {
  font-size: 8vw;
  color: #CCCCCC;
}

.inner-filler {
  width: 100%;
  text-align: center;
  color: white;
  font-size: 300%;
  font-weight: 700;
  position: relative;
  top: 35%;
  z-index: 1;
}

.content-container {
  width: 100%;
  height: 100vh;
}

/* Parallax Start */

.parallax1 {
  width: 100%;
  height: 100vh;
  background:
  linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.7)
  ),
  url('../img/background/blackbrickwalltest.jpg') no-repeat fixed;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -2;
}

.parallax2 {
  width: 100%;
  height: 100vh;
  background: url('../img/background/familypic.jpg') no-repeat fixed;
  background-size: cover;
  background-position: 50% 50%;
  z-index: 2;
}

.parallax3 {
  width: 100%;
  height: 100vh;
  background: url('../img/background/coding2.jpg') no-repeat fixed;
  background-size: cover;
  background-position: 50% 50%;
  z-index: 2;
}

/* Parallax End */

.contact-footer {
  height: 250px;
  width: 100%;
  background: lightgrey;
}

.contact-footer div h3 {
  color: #FFFFFF;
}
